<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css" />
    <title>Hodlinfo</title>
  </head>


  <body>
    <div class="main">
      <div class="header">
        <div class="first">
          <a href="/">
            <div class="logo">
              <img
                src="https://hodlinfo.com/static/media/HODLINFO.8f78fc06.png"
                alt="HODLINFO"
              />
            </div>
          </a>
        </div>

        <div class="second">
          <div class="btn-group drop1">
            <select name="curr" id="curr">
              <option value="INR">INR</option>
            </select>
          </div>

          <div class="btn-group drop2">
            <form action="/" method="POST">
              <select name="comp" id="comp" onchange="this.form.submit">
                <option value="TRX">TRX</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
              </select>
            </form>
          </div>

          <div class="btn-group">
            <button class="nav-link rounder-5"><a href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn">BUY TRX</a></button>
          </div>
        </div>

        <div class="third">
          <div class="tele"><a href="https://web.telegram.org/" style="color: white;">Telegram</a></div>
          <div class="toggle-btn">
            <button onclick="myFunction()" style="background:#3dc6c1; color:white; border: none; border-radius: 5px; height: 35px;">switch theme</button>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="main-head">
          <div class="main-head min">
            <div><h4 style="color:#3dc6c1">0.82%</h4></div>
            <div><h6 style="color:#7e7f7f">5 Mins</h6></div>
          </div>
          <div class="main-head hour">
            <div><h4 style="color:#3dc6c1">0.82%</h4></div>
            <div><h6 style="color:#7e7f7f">5 Mins</h6></div>
          </div>
          <div class="main-head" id="center">
            <div><h4 style="color:#7e7f7f">Best Price to Trade</h4></div>
            <div><h1>₹120,000</h1></div> 
            <div><h6 style="color:#7e7f7f">Average USDT/INR net price including commission</h6></div> 
          </div>
          <div class="main-head day">
            <div><h4 style="color:#3dc6c1">0.82%</h4></div>
            <div><h6 style="color:#7e7f7f">1 Day</h6></div>
          </div>
          <div class="main-head days">
            <div><h4 style="color:#3dc6c1">0.82%</h4></div>
            <div><h6 style="color:#7e7f7f">7 Days</h6></div>
          </div>
        </div>
        <div class="main-table">
          <table class="table table-borderless text-center">
            <thead>
              <tr>
                <th><h4>#</h4></th>
                <th><h4>Platform</h4></th>
                <th><h4>Last Traded Price</h4></th>
                <th><h4>Buy/Sell Price</h4></th>
                <th><h4>Difference</h4></th>
                <th><h4>Savings</h4></th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0 ; i<ticker.length ; i++){ %>
                <tr>
                <td class="align-middle"><h4><%= i+1 %></h4></td>
                <td class="align-middle"><h4><%= ticker[i].platform %></h4></td>
                <td class="align-middle"><h4><%= ticker[i].lastTradedPrice %></h4></td>
                <td class="align-middle"><h4><%= ticker[i].buyPrice %> / <%= ticker[i].sellPrice %> </h4></td>
                <td class="align-middle"><h4><%= ticker[i].difference %></h4></td>
                <td class="align-middle"><h4><%= ticker[i].savings %></h4></td>
               </tr>
              <% } %>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="card" id="footer">
        <div class="card-footer text-muted">Copyright @ 2023 Made by Anchal</div>
      </div>
    </div>

    <script>
      function myFunction() {
         var element = document.body;
         var footer = document.getElementById("footer");
         element.classList.toggle("dark-mode");
         footer.classList.toggle("dark-mode")
      }
      </script>
  </body>
</html>
